<div class="monks-enhanced-journal flexcol editattributes monks-journal-sheet sheet">
    <form>
        <div class="dialog-content">
            <div class="form-group">
                <label for="playlist" style="flex: 1;">Playlist</label>
                <div class="form-fields">
                    <select name="playlist" value="{{value}}">
                        {{#each playlists}}
                        <option value="{{id}}"
                        {{#if selected}}selected{{/if}}
                        >{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <footer class="sheet-footer flexrow">
            <button type="button" name="submit">
                <i class="far fa-copy"></i> Copy to Playlist
            </button>
        </footer>
    </form>
</div>
